* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: #ff30c3;
    --p-tag-li-tag-color: #3C354F;
}

.btn-main {
    background-color: var(--main-color);
    color: #FFF;
    padding: 21px 40px;
    border: none;
    border-radius: 28px;
}

/*header start*/
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 0px;
}

nav {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

nav .logo-div {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.logo-div .custom {
    color: var(--main-color);
}

nav .list-div {
    display: flex;
    align-items: center;
    list-style: none;
}

.follow-us-div {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 18px;
    gap: 16px;
}

.follow-us-div img {
    cursor: pointer;
}

.list-div .list-item {
    margin-right: 60px;
    cursor: pointer;

}

.list-div li {
    color: var(--p-tag-li-tag-color);
}

/*header end*/


.banner-section {
    background-image: url("Group\ 14.png");
    background-repeat: no-repeat;
}

.banner-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    margin: 140px 0;
    text-align: center;
}

.play-like {
    font-weight: 600;
    font-size: 3.3rem;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6.5rem;
    text-align: left;
    letter-spacing: 3px;
}

.quick-item {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.banner-button {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.btn-2 {
    background-color: #4EC5F7;
}


.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;

}

.gamer-content {
    text-align: right;

}

.gamer-content {}

.gamer-poster {
    margin: 30px 0px;
}

.gamer-title {
    margin-top: -20px;
    font-size: 2.5rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.description,
.btn-3,
.quote {
    margin-top: 20px;

}





/*Mobile-responsive start*/
@media screen and (max-width: 576px) {

    nav,
    .list-div {
        max-width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }

    .logo-div,
    .list-div {
        margin-top: 20px;
    }

    .list-div {
        gap: 25px;
    }

    .list-div .list-item {
        margin: 0px
    }

    .follow-us-div {
        margin-left: 15px;
    }

    .banner-section {
        max-width: 100%;
        background-image: none;



    }

    .banner-container {
        max-width: 100%;
        margin: 0 auto;
        flex-direction: column-reverse;
    }

    .banner-content {

        max-width: 100%;
        background-image: url("Group\ 14.png");
        background-repeat: no-repeat;
        background-size: contain;

    }

    .goat {
        font-size: 4rem;
        text-align: center;
        letter-spacing: 0px;
    }

    .play-like {
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .quick-item {
        margin-left: 40px;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .banner-img img {
        max-width: 100%;
    }

    .banner-button {
        display: flex;
        gap: 15px;
        margin-top: 18px;
        margin-left: 40px;
        margin-bottom: 20px;


    }

    .btn-main {
        background-color: var(--main-color);
        color: #FFF;
        padding: 15px 30px;
        border: none;
        border-radius: 28px;
    }

    .btn-2 {
        background-color: #4EC5F7;
    }


}

/*Mobile-responsive end*/



/*Tablet-responsive start*/


/*Tablet-responsive end*/